@charset "utf-8";

/* main */
main {
    width: 70%;
    margin: 100px auto 100px auto;
}

/* main end */

/* title */
.contents__title {
    width: 60%;
    height: 100px;
    border-left: solid 0.7rem #E46E5C;
    display: table;
    vertical-align: middle;
    margin-bottom: -50px;
}

.contents__title h1 {
    margin: 10px 0 0 20px;
    color: #555555;
    font-size: 3.5rem;
}

.contents__title h2 {
    margin: 10px 0 0px 25px;
    color: #707070;
    font-size: 2.5rem;
}

/* title end */

/* date */
.date {
    width: 87%;
    margin: 140px auto -20px auto;
    height: 55px;
    /* border-left: solid 0.7rem #E46E5C; */
    background-color: #E46E5C;
}

.date h2 {
    padding: 0;
    margin: 25px 0 0 25px;
    line-height: 55px;
    font-size: 2.5rem;
    color: #fff;

}

/* date end */

/* 上映中コンテンツ */
.col-md-6 {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

.col-md-6 div.card {
    margin: 50px auto;
}

.col-md-6 div a{
    display: flex;
}