@charset "utf-8";

/* main */
main {
    width: 70%;
    margin: 100px auto 100px auto;
}

/* main end */

/* title */
.contents__title {
    width: 60%;
    height: 65px;
    border-left: solid 0.7rem #298698;
    display: table;
    vertical-align: middle;
    margin-bottom: 80px;
}

.contents__title h1 {
    margin: 10px 0 0 20px;
    color: #555555;
    font-size: 3.5rem;
}

/* title end */

/* subtitle */
.subtitle {
    margin: 10px 0 30px 25px;
    height: 40px;
    border-left: solid 0.7rem #298698;
}

.subtitle h2 {
    padding-top: 5px;
    margin: 10px 0 0 15px;
    font-size: 2.5rem;
    color: #555555;
}

/* subtitle end */

/* movie_data */
.movie_data {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

.movie_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.movie_img {
    width: 35%;
}

.movie_img img {
    max-width: 100%;
}

/* story */
.story {
    width: 60%;
    height: auto;
    min-height: 600px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}

.story p {
    padding: 0 45px;
    line-height: 1.7;
}

.sakuhin_data {
    margin-top: 40px;
}

/* story end */

/* tab */
.tab_area {
    margin-top: 80px;
    width: 100%;
}

.title_schedule {
    background-color: #555555;
    padding: 10px;
}

.title_schedule h2 {
    color: #fff;
    padding: 3px;
}

.tab-group {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.tab {
    flex-grow: 1;
    padding: 15px;
    list-style: none;
    border: solid 1px #c9c9c9;
    text-align: center;
    cursor: pointer;
}

.panel-group {
    height: auto;
    border: solid 1px #c9c9c9;
    border-top: none;
    background: #eee;
}

.dark-theme .panel-group {
    border: solid 1px #909090;
    background: rgb(59, 58, 58);
}

.panel {
    display: none;
}

.tab.is-active {
    background: #3b96f7;
    color: #fff;
    transition: all 0.2s ease-out;
}

.panel.is-show {
    display: block;
}

/* tab end */

/* ここから上映スケジュール中身 */
/* schedule */
.schedule_area {
    overflow-x: hidden;
    padding: 50px 100px;
    background-color: white;
}

#schedule_box {
    position: relative;

    z-index: 1;
}

#date_box {
    position: relative;
    overflow: hidden;
    width: 90%;
    top: -151px;
    z-index: 3;
    margin: 0 auto;
}

#schedule_date {
    position: relative;

    left: 0;
    display: flex;
}

/* flex content */
.flex_cont {
    flex: 0 0 auto;
}
/* flex content end */

/* arrow */
.fas {
    font-size: 3rem;
}
#arrow {
    display: flex;
}
.arrow {
    width: 40px;
    background-color: #4da7d8;
    height: 150px;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow_right {
    position: absolute;
    top: 0px;
    right: 0;
}
/* arrow end */

/* date */
#date_p {
    display: flex;
    position: relative;

    top: -80px;
}
#date_p h3,
#date_p p {
    flex: 0 0 0 auto;
}
#date_p p {
    margin: 0 0 0 5rem;
    font-size: 2rem;
}
select {
    position: relative;

    top: -50px;
    width: 150px;
    height: 30px;
}
.custom-select {
    width: 150px;
}
/* date end */

/* rect */
.rect {
    width: 191px;
    height: auto;
    min-height: 150px;
    background-color: #4da7d8;
    margin: 1px;
    cursor: pointer;
}
.active {
    background-color: #ff8b60;
    font-weight: bold;
}
.date_box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    margin: 0 auto;
}
.date {
    flex: 0 0 0 auto;
    font-size: 2.5rem;
    color: white;
    /* font-weight: bold; */
}
.date_wd {
    flex: 0 0 0 auto;

    font-size: 1.6rem;
    padding: 2rem 0;
    color: white;
}
/* rect end */
/* schedule end */

/* schedule content box */
.schedule_content-box {
    width: 100%;
}
.movie_p {
    margin: 2rem 0 2rem 2rem;
    font-size: 1.6rem;
    color: #357497;
}

/* col-md-10 */
.col-md-10 {
    display: flex;
    flex: 0 0 auto;
    position: relative;

    max-width: 100%;
    width: 100%;
    color: white;
}
.movies:nth-child(2n + 1) .col-md-10 {
    background-color: #cccccc;
}
.movies:nth-child(2n + 2) .col-md-10 {
    background-color: #555555;
}
.col-md-10 h3 {
    position: absolute;

    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}
.col-md-10 a {
    margin: 0 0 0 auto;
    padding: 10px;
    text-decoration: none;
    color: white;
}
/* col-md-10 end */

/* schedule content body */
.schedule_content-body {
    width: 95%;
    margin: 0 auto 3rem auto;
}
.schedule_content-body img {
    height: 400px;
}
.theater_number {
    margin-top: 1rem;
    padding: 0 10px;
    color: black;
    border-bottom: solid 1px black;
    width: 280px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.movie_time {
    color: black;
    font-size: 1.6rem;
    width: 280px;
    text-align: center;
}
/* schedule content body end */

/* movie time */
.movie_body {
    display: flex;
}
.movie_times {
    display: flex;
    flex: 0 0 0 auto;
    flex-wrap: wrap;

    width: 100%;
    margin-top: 70px;
    margin-left: 9.5rem;
}
.times {
    position: absolute;

    top: 10px;
    font-size: 30px;
    margin-left: 1rem;
}
.times_end {
    position: absolute;

    bottom: 50px;
    right: 30px;
    font-size: 20px;
}
.times_ticket {
    display: flex;
    position: absolute;

    align-items: center;
    left: 20px;
    bottom: 10px;
    height: 35px;
    width: 80%;
    margin: 0 auto;
    background-color: #4da7d8;
}
.minus {
    position: relative;

    margin-left: 10px;
    width: 25px;
    height: 25px;
    border: solid 1px black;
    background-color: white;
}
.minus svg {
    display: flex;
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 70%;
    width: 70%;
    color: #4da7d8;
}

.ticket_a {
    color: #555555;
    transition: all 0.3s;
}

.ticket_a:hover {
    color: #4da7d8;
}

.times_ticket p {
    display: flex;

    margin-bottom: 0;
    margin-left: 2rem;
    font-size: 2rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}
.theater_movie {
    position: relative;
    flex: 0 0 auto;

    margin: 10px 1rem;
    width: 200px;
    height: 150px;
    background-color: #f6f6f6;
}
/* ここまで上映スケジュール中身 */
