@charset "utf-8";

/* main */
main {
    width: 70%;
    margin: 50px auto 100px auto;
}

/* main end */

/* title */
.contents_box {
    height: 150px;
    background-color: #fff;
    margin: 50px auto 50px auto;
    padding: 20px 20px 20px 0px;
}


.contents__title {
    float: left;
    width: 60%;
    height: 100px;
    border-left: solid 0.7rem #77be74;
}

.contents__title h1 {
    margin: 10px 0 0 20px;
    color: #555555;
    font-size: 3.5rem;
}

.contents__title h2 {
    margin: 10px 0 0 25px;
    color: #707070;
    font-size: 2.5rem;
}

.contents_sub {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contents_sub li {}

.contents_sub a {
    color: #555;
}

.contents_sub a:hover {
    text-decoration: underline;
}


/* title end */

/* subtitle */
.subtitle {
    margin: 0 auto 40px 48px;
    height: 70px;
    border-left: solid 0.7rem #77be74;
}

.subtitle h2 {
    padding: 0;
    margin: 25px 0 0 25px;
    line-height: 70px;
    color: #555555;
    font-size: 3.0rem;
}

/* subtitle end */

/* ticket */
.ticket {
    margin-top: 85px;
    padding: 30px 0 60px 0;
    background-color: #fff;
}

/* ticket end */


/*** チケット購入ステップ ***/
.ticket_flow {
    margin: 80px 0 110px 0;
}

.step {
    list-style-type: none;
    display: table;
    width: 90%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

.step li {
    display: table-cell;
    width: 15%;
    text-align: center;
    position: relative;
    background: #ddd;
    padding: 1em 0.5em 1em 1em;
    color: #000;
}

.step li:last-child {
    padding-right: 1em;
}

.step li:last-child:before,
.step li:last-child:after {
    display: none;
}

.step li:before,
.step li:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin: auto;
}

.step li:before {
    top: -15px;
    right: -1em;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    border-width: 40px 0 40px 1em;
    z-index: 10;
}

.step li:after {
    top: -15px;
    right: -.8em;
    border-style: solid;
    border-color: transparent transparent transparent #ddd;
    border-width: 40px 0 40px 1em;
    z-index: 10;
}

.step li.is-current {
    color: #fff;
    background: #ff8b60;
    font-weight: bold;
}

.step li.is-current:after {
    border-color: transparent transparent transparent #ff8b60;
}




.ticket_wrap {
    margin: 0 auto;
    width: 90%;
}

/* 座席選択内容 */
.seat {
    padding: 30px;
    background-color: #F7F7F7;
}

.seat dl {
    margin: 30px 0 0 10px;
}

.seat dl dt {
    float: left;
    clear: both;
    margin-right: 45px;
    text-align: center;
    padding: 5px 0;
    width: 10%;
    color: #fff;
    background-color: #555555;
}

.seat dl dd {
    padding: 5px 0;
}

.seat dl dd.total {
    font-weight: bold;
}


/* 座席説明 */
.seat_p {
    margin: 70px 0;
}

.seat_p h3 {
    font-size: 2.4rem;
}

.seat_p p {
    padding-left: 30px;
    line-height: 1.8;
}

/* アイコン説明 */
.seat_menu h3 {
    font-size: 2.4rem;
}

.seat_menu ul {
    margin-top: 15px;
    width: 100%;
    border: 1px solid #707070;
    display: flex;
}

.seat_menu ul li {
    padding: 25px;
}

.seat_menu ul li span {
    padding-left: 30px;
}

.seat_menu ul .icon_off {
    background: url(../images/ticket/icon_off.png) 0 0 no-repeat;
}

.seat_menu ul .icon_active {
    background: url(../images/ticket/icon_active.png) 0 0 no-repeat;
}

.seat_menu ul .icon_on {
    background: url(../images/ticket/icon_on.png) 0 0 no-repeat;
}


/* 選択座席 */
.seat_name {
    margin: 80px 0;
    border: 1px solid #d1d1d1;

}

.seat_name .sentaku {
    background-color: #F7F7F7;
}

.seat_name .sentaku h4 {
    font-size: 2.0rem;
    padding: 10px 5px 10px 10px;
}

.seat_name p {
    padding: 10px 5px 5px 10px;
}


/* シアター座席表 */
#box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 80%;
    margin: 0 auto;
    background-color: black;
}

.box-child {
    height: 100px;
    width: 100px;
    background-color: gray;
    border: solid;
}

.active {
    background-color: red;
}

.zaseki_text {
    width: 100%;
    margin: 0 auto;
}

.zaseki_text p {
    padding-top: 30px;
    text-align: center;
}

.zaseki_text a {
    display: block;
    text-align: center;
}




/* 利用規約 */
.kiyaku {
    margin-top: 150px;
}

.subtitle_kiyaku {
    margin: 0 auto 40px 0px;
    height: 70px;
    border-left: solid 0.7rem #77be74;
}

.subtitle_kiyaku h2 {
    padding: 0;
    margin: 25px 0 0 25px;
    line-height: 70px;
    color: #555555;
    font-size: 3.0rem;
}

.kiyaku .kiyaku_menu {
    width: 90%;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: #F7F7F7;
}

.kiyaku .kiyaku_menu p {
    font-size: 1.4rem;
    line-height: 2.0;
}

.kiyaku_on {
    margin: 30px 50px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}


/* ボタン */
.btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px;
}

.back_btn {
    padding: 10px 20px;
    border: 1px solid #606060;
    color: #606060;
    font-weight: bold;
    background-color: #fff;
    font-size: 1.6rem;
}

.back_btn:hover {
    opacity: 0.7;
}

.next {
    text-align: right;
}

.next_btn {
    padding: 10px 40px;
    border: none;
    font-weight: bold;
    color: #fff;
    background-color: #4da7d8;
    font-size: 1.6rem;
}

.next_btn:hover {
    opacity: 0.7;
}