/* main */
main {
    width: 100%;
}


/* slide */
.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

.carousel-item {
    width: 100%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' stroke='%23FAEBD7' stroke-width='0.5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' stroke='%23FAEBD7' stroke-width='0.5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* slide end */

/* bootstrap card */
h5.card-text {
    text-align: center;
}

h6.card-text {
    text-align: center;
}

/* bootstrap card end */

/* theater */
#theater__list {
    width: 100%;
}

#theater__list li {
    width: 90%;
    padding: 1.5rem 5%;
    margin: 30px auto;

    border: solid #4DA7D8 1px;
    font-size: 20px;
    color: black;
    transition: all 1s;
}

#theater__p {}

#theater__list li i {
    float: right;
    font-size: 30px;
    color: #4DA7D8;
    margin: 0 0 0 auto;
}

#theater__list a {
    text-decoration: #4DA7D8;
}

#theater__list li:hover {
    color: white;
    background-color: deepskyblue;
    transform: scaleX(1);
}

.theater__list {
    display: inline;
}

/* theater end */

/* ranking album */
#ranking__box {
    overflow-x: hidden;
    width: 90%;
    margin: 0 auto;
}

#ranking {
    overflow: hidden;

    width: 1035px;
    margin: 0 auto;
}

#ranking__row {
    display: flex;
    position: relative;
    margin: 0 auto;
}

.rankings {
    flex: 0 0 auto;

    max-width: 33.3333%;
    padding: 0 15px;
}

.ranking__cards {
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 315px;
}

.ranking__cards--body {}

/* ranking arrow */
#ranking__arrow {}

.box_position {
    position: relative;
    width: 100%;
}

.fa-angle-left {
    font-size: 60px;
    position: absolute;
    left: 5%;
    top: 50%;
    color: #737373;
    padding: 0.5rem;
}

.fa-angle-left:hover {
    opacity: 0.7;
}

.fa-angle-right {
    font-size: 60px;
    position: absolute;
    right: 5%;
    top: 50%;
    color: #737373;
    padding: 0.5rem;
}

.fa-angle-right:hover {
    opacity: 0.7;
}

/* ranking album end */

/* campaigns */

#campaigns {}

#campaigns__row {
    width: 90%;
    margin: 0 auto;
}

#campaigns__row li {
    margin: 0 auto;
    padding: 5px 0;
}

#campaigns__row li a {
    font-size: 20px;
    text-decoration: none;
}


/* news */
#news li {
    width: 90%;
    margin: 0 auto;
    padding: 5px 0;
}

#news li a {
    font-size: 20px;
    text-decoration: none;
}

/* news end */

/* main end */